{% extends "location/base.html" %}
{% load events_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title></title>

        <link rel="stylesheet" type="text/css" href="{% static "css/lightbox.css" %}">
        {% block title %}{{ event.title }}{% endblock %}

</head>
<body>
{% block content %}
    <div id="sidebar">
        <div class="row">
            <div class="col-sm-11">
                <div class="thumbnail">
                    <div class="caption">
                        <p><a href="{% url "Location:event_feed" %}">Subscribe to my RSS feed</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-11">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Similar events</h3>
                            {% for event in similar_events %}
                                <p><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></p>
                                <li><img src="{% if event.image %}{{ event.image.url }}{% endif %}" height="100px" width="160px"></li>
                            {% empty %}
                            There are no similar events yet.
                            {% endfor %}  
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-11">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Latest events</h3>
                            {% show_latest_events 3 %}
                    </div>
                </div>
            </div>
        </div>   


    </div>
        <div class="col-sm-9 col-sm-offset-20">
    <h1><a href="{{ event.category.get_absolute_url }}">{{ event.tag}}</a></h1>
        <div class="row">
            <div class="col-sm-9">
                <div class="thumbnail">
                    <div class="caption">
                        <h1><small>{{ event.name }}</small></h1>
                        <p class="date">Published {{ event.publish }} </p>
                        <a href="{{ event.get_absolute_url }}"><img src="{% if event.image %}{{ event.image.url }}{% endif %}"></a>
                        </p>

                            <div>
                                    {% for p in event.eventimage_set.all%}
                                      <a href="{{ p.file.url }}" data-lightbox="image-1" data-title="My caption">
                                        <img style='height: 20.5%; position: relative; float: left; width: 32.5%; object-fit: container ' src=" {{ p.file.url }}" />
                                      </a>
                                    {% endfor %}
                              
                            </div>
                            <p>{{ event.location }}</p>
                               <p>{{ event.description }}</p>
                                  <p>{{ event.startTime }}</p>
                                     <p>{{ event.endTime }}</p>
                                       <p>{{ event.category }}</p>
                     
                        <p> Author: {{event.author}}</p>
                        <p><div class="fb-like" data-href="{{ request.build_absolute_url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                        </p>
                        {{ event.body|markdown|linebreaks}}
                        <div class="fb-comments" data-href="{{ request.build_absolute_url }}" data-numevents="5"></div>

                        <h2>{{ event.name }}</h2>
<h5>{{ event.review_set.count }} reviews ({{ event.average_rating | floatformat }} average rating)</h5>

<h3>Recent reviews</h3>

{% if event.review_set.all %}
<div>
    {% for review in event.review_set.all %}
    <div>
        <em>{{ review.comment }}</em>
        <h6>Rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
        <h5><a href="{% url 'Location:review_detail' review.id %}">
        Read more
        </a></h5>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews for this event yet</p>
{% endif %}

<h3>Add your review</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'Location:add_review' event.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add" />
</form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

<script type="text/javascript" src="{%  static 'js/jquery-1.11.1.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/lightbox.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/lightbox.min.js' %}"></script>

<body>
</html>